<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Bookstore</title>
</head>
<body>
<h1>Bookstore</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Price</th>
    <th>Publication Date</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="book : ${books}">
    <td th:text="${book.title}"></td>
    <td th:text="${book.author}"></td>
    <td th:text="${book.price}"></td>
    <td th:text="${book.publicationDate}"></td>
  </tr>
  </tbody>
</table>

<div>
  <ul th:if="${totalPages > 1}">
    <li th:class="${currentPage == 1} ? disabled : ''">
      <a th:href="@{|/?page=${currentPage-1}|}" th:text="'<<'"></a>
    </li>
    <li th:each="pageNum : ${#numbers.sequence(1, totalPages)}">
      <a th:href="@{|/?page=${pageNum}|}" th:text="${pageNum}"
         th:class="${pageNum == currentPage} ? active : ''"></a>
    </li>
    <li th:class="${currentPage == totalPages} ? disabled : ''">
      <a th:href="@{|/?page=${currentPage+1}|}" th:text="'>>'"></a>
    </li>
  </ul>
</div>
</body>
</html>